%h1 Produção

%p
  Bruno - (11) 72289282
  %br
  Larissa - (11) 65535551
  %br
  %a{:mailto => "contato@tresmariaseumjoao.com.br"} contato@tresmariaseumjoao.com.br

%h1 Acompanhe o grupo
  %a{:href=> "http://facebook.com/grupotresmariaseumjoao"} Facebook
  %br
  %a{:href => "http://www.flickr.com/photos/tresmariaseumjoao"} Flickr

%p Design by Leandro Teichimann & Dárida Mirella
