%h2 Espetáculos

%ul#espetaculos
  %li
    %a{:href => '#contosdefadasecontospopulares'}
      %h3 Contos de Fadas e Contos Populares
  %li
    %a{:href => '#contosbrasileiros'}
      %h3 Contos Brasileiros
  %li
    %a{:href => '#contosnatalinos'}
      %h3 Contos Natalinos
  %li
    %h3 Em breve:
    %a{:href => '#contosdanatureza'}
      %h3 Contos da Natureza
  %li
    %a{:href => '#contosindigenas'}
      %h3 Contos Indígenas
  %li
    %a{:href => '#contosdesabedoria'}
      %h3 Contos de Sabedoria
  %li
    %a{:href => '#contosdeterror'}
      %h3 Contos de Terror
   

%div.norender
  %div#contosdefadasecontospopulares.espetaculo
    %h2 Contos de Fadas e Contos Populares
    %p Os contos populares são verdadeiros documentos da nossa história, falam sobre as crenças e a evolução do homem ao longo dos anos.
    %p Ao contar sobre príncipes, princesas e bruxas, os contos de fadas se aproximam das questões humanas, ajudam na elaboração dos nossos conflitos e oferecem amor, coragem e esperança para busca de um final feliz.

    %h2 Espetáculos:
    %ul
      %li
        %h3 "João e Marias e outras histórias..."
        %ul
          %li
            %p A velhinha inteligente
          %li
            %p João e Maria
          %li
            %p A história mais longa do mundo
      %li
        %h3 "Rapunzel e outras histórias..."
        %ul
          %li
            %p O Rei justo
          %li
            %p Rapunzel
          %li
            %p A manina enterrada viva
      %li
        %h3 "João e o pé de feijão e outras histórias..."
        %ul
          %li
            %p O quebrador de pedras
          %li
            %p João e o pé de feijão
          %li
            %p A mulher que falava demais
      %li
        %h3 "Soldadinho de chumbo e outras histórias..."
        %ul
          %li
            %p As duas mulheres e o céu
          %li
            %p Soldadinho de chumbo
          %li
            %p A festa no céu 

  %div#contosbrasileiros.espetaculo
    %h2 Contos Brasileiros
    %p Através destes contos, difundimos a rica diversidade cultural das regiões do Brasil,
    %p aproximando as crianças da nossa história.

    %h2 Espetáculos
    %ul
      %li
        %h3 "Contos Brasileiros I"
        %ul
          %li
            %p Compadre da morte
          %li
            %p Papagaio Real
        %h3 "Contos Brasileiros II"
        %ul
          %li
            %p A menina enterrada viva
          %li
            %p Couro de piolho

  %div#contosnatalinos.espetaculo
    %h2 Contos Natalinos
    %p No final do ano os contos natalinos são valiosos presentes para as crianças.
    %p Nessas histórias podemos resgatar o sentido e a magia do natal.

    %h2 Espetáculos
    %ul
      %li
        %h3 "Contos Natalinos"
        %ul
          %li
            %p Graças ao menino
          %li
            %p O verdadeiro presente
          %li
            %p As estátuas de gizo
          %li
            %p O Pinheirinho

  %div#contosdanatureza.espetaculo
    %h2 Contos da natureza
    %p O homem é fruto da natureza mas devido ao progresso
    %p exacerbado acabamos nos esquecendo que além de sermos parte dela, cabe a nós preservá-la
    %p para garantir a nossa própria existência. Estes contos propõe o despertar de nossa consciência
    %p para a construção de um mundo mais sutentável e consequentemente mais harmônico.

  %div#contosindigenas.espetaculo
    %h2 Contos indígenas
    %p A raiz de nossos costumes e tradições está nas comunidades
    %p indígenas que aqui residiam. É preciso reconhecer e respeitar esse povo que faz parte de nossa
    %p identidade. Os contos e lendas indígenas contam histórias sobre o nosso povo e por isso devem
    %p ser relembrados e disseminados a todos os brasileiros.

  %div#contosdesabedoria.espetaculo
    %h2 Contos de sabedoria
    %p A sabedoria é algo que adquirimos ao longo do tempo e é um
    %p bem de valor inestimável. Essas histórias nos trazem preciosos ensinamentos de personagens
    %p repletos de vida. Ao ouvir essas histórias guardamos em nosso inconsciente a força destes
    %p ensinamentos que soprarão em nossos ouvidos em diversos momentos de nossa vida, nos
    %p trazendo confiança, coragem e amor para tomar decisões sábias.

  %div#contosdeterror.espetaculo
    %h2 Contos de terror
    %p As histórias de terror estão entre as preferidas das crianças e têm um papel
    %p extremamente importante na formação de seu caráter/personalidade. Através das histórias
    %p assustadoras e de personagens que são a personificação do mal, a criança entra em contato
    %p com emoções como o medo e a raiva, vivenciando-as de forma positiva.

%script{:type => 'text/javascript'}
  $("#espetaculos li a").each(function() {$(this).fancybox();});

