%h2 Espetáculos

%p Os espetáculos de contação de histórias são compostos de três contos, que são narrados e encenados por dois atores / contadores.

%p
  %strong Duração aproximado:
  45 minutos.

%p
  %strong Público alvo:
  crianças de 04 a 12 anos.

%div#espetaculos
  %p
    %strong Nossos espetáculos:
  
  %ul
    %li
      %a{:href => '#contosdefadasecontospopulares'}
        %p Contos de Fadas e Contos Populares
    %li
      %a{:href => '#contosbrasileiros'}
        %p Contos Brasileiros
    %li
      %a{:href => '#contosnatalinos'}
        %p Contos Natalinos

%div#embreve
  %p
    %strong Em breve:
  %ul
    %li
      %p Contos da Natureza
    %li
      %p Contos Indígenas
    %li
      %p Contos de Sabedoria
    %li
      %p Contos de Terror
   

%div.norender
  %div#contosdefadasecontospopulares.espetaculo
    %h2 Contos de Fadas e Contos Populares
    %p Os contos populares são verdadeiros documentos da nossa história, falam sobre as crenças e a evolução do homem ao longo dos anos. Ao contar sobre príncipes, princesas e bruxas, os contos de fadas se aproximam das questões humanas, ajudam na elaboração dos nossos conflitos e oferecem amor, coragem e esperança para busca de um final feliz.

    %h2 Espetáculos
    %ul
      %li
        %h3 "João e Marias e outras histórias..."
        %p A velhinha inteligente, João e Maria e A história mais longa do mundo.
      %li
        %h3 "Rapunzel e outras histórias..."
        %p O Rei justo, Rapunzel e A menina enterrada viva.
      %li
        %h3 "João e o pé de feijão e outras histórias..."
        %p O quebrador de pedras, João e o pé de feijão e A mulher que falava demais.
      %li
        %h3 "Soldadinho de chumbo e outras histórias..."
        %p As duas mulheres e o céu, Soldadinho de chumbo e A festa no céu.

  %div#contosbrasileiros.espetaculo
    %h2 Contos Brasileiros
    %p Através destes contos, difundimos a rica diversidade cultural das regiões do Brasil, aproximando as crianças da nossa história.

    %h2 Espetáculos
    %ul
      %li
        %h3 "Contos Brasileiros I"
        %p Compadre da morte e Papagaio Real
        %h3 "Contos Brasileiros II"
        %p A menina enterrada viva e Couro de piolho

  %div#contosnatalinos.espetaculo
    %h2 Contos Natalinos
    %p No final do ano os contos natalinos são valiosos presentes para as crianças. Nessas histórias podemos resgatar o sentido e a magia do natal.

    %h2 Espetáculos
    %ul
      %li
        %h3 "Contos Natalinos"
        %ul
          %li
            %p Graças ao menino
          %li
            %p O verdadeiro presente
          %li
            %p As estátuas de gizo
          %li
            %p O Pinheirinho

  %div#contosdanatureza.espetaculo
    %h2 Contos da natureza
    %p O homem é fruto da natureza mas devido ao progresso exacerbado acabamos nos esquecendo que além de sermos parte dela, cabe a nós preservá-la para garantir a nossa própria existência. Estes contos propõe o despertar de nossa consciência para a construção de um mundo mais sutentável e consequentemente mais harmônico.

  %div#contosindigenas.espetaculo
    %h2 Contos indígenas
    %p A raiz de nossos costumes e tradições está nas comunidades indígenas que aqui residiam. É preciso reconhecer e respeitar esse povo que faz parte de nossa identidade. Os contos e lendas indígenas contam histórias sobre o nosso povo e por isso devem ser relembrados e disseminados a todos os brasileiros.

  %div#contosdesabedoria.espetaculo
    %h2 Contos de sabedoria
    %p A sabedoria é algo que adquirimos ao longo do tempo e é um bem de valor inestimável. Essas histórias nos trazem preciosos ensinamentos de personagens repletos de vida. Ao ouvir essas histórias guardamos em nosso inconsciente a força destes ensinamentos que soprarão em nossos ouvidos em diversos momentos de nossa vida, nos trazendo confiança, coragem e amor para tomar decisões sábias.

  %div#contosdeterror.espetaculo
    %h2 Contos de terror
    %p As histórias de terror estão entre as preferidas das crianças e têm um papel extremamente importante na formação de seu caráter/personalidade. Através das histórias assustadoras e de personagens que são a personificação do mal, a criança entra em contato com emoções como o medo e a raiva, vivenciando-as de forma positiva.

%script{:type => 'text/javascript'}
  $("#espetaculos li a").each(function() {$(this).fancybox();});

