%h2 Espetáculos

%p
  As apresentações de contação de histórias são compostas de três contos, que são narrados e encenados por dois atores / contadores.

%p
  %strong Duração aproximado:
  45 minutos.
  %br
  %strong Público alvo:
  crianças de 04 a 12 anos.

%div#espetaculos
  %strong Nossas narrações:
  
  %ul
    %li
      %a{:href => '#contosdefadasecontospopulares'}
        Contos de Fadas e Contos Populares
    %li
      %a{:href => '#contosbrasileiros'}
        Contos Brasileiros
    %li
      %a{:href => '#contosnatalinos'}
        Contos Natalinos
    %li
      %a{:href => '#contosdanatureza'}
        Contos da Natureza
    %li
      %a{:href => '#contosindigenas'}
        Contos Indígenas
    %li
      %a{:href => '#contosdesabedoria'}
        Contos de Sabedoria
    %li
      %a{:href => '#contosdeterror'}
        Contos de Terror


%div.norender
  #contosdefadasecontospopulares.espetaculo
    %h2 Contos de Fadas e Contos Populares
    %p Os contos populares são verdadeiros documentos da nossa história, falam sobre as crenças e a evolução do homem ao longo dos anos. Ao contar sobre príncipes, princesas e bruxas, os contos de fadas se aproximam das questões humanas, ajudam na elaboração dos nossos conflitos e oferecem amor, coragem e esperança para busca de um final feliz.

    %h2 Narrações
    %ul
      %li
        %strong João e Marias e outras histórias...
        %br
        A velhinha inteligente, João e Maria e A história mais longa do mundo.
      %li
        %strong Rapunzel e outras histórias...
        %br
        O Rei justo, Rapunzel e A menina enterrada viva.
      %li
        %strong João e o pé de feijão e outras histórias...
        %br
        O quebrador de pedras, João e o pé de feijão e A mulher que falava demais.
      %li
        %strong Soldadinho de chumbo e outras histórias...
        %br
        As duas mulheres e o céu, Soldadinho de chumbo e A festa no céu.

  #contosbrasileiros.espetaculo
    %h2 Contos Brasileiros
    %p Através destes contos, difundimos a rica diversidade cultural das regiões do Brasil, aproximando as crianças da nossa história.

    %h2 Narrações
    %ul
      %li
        %strong Contos Brasileiros I
        %br
        Compadre da morte e Papagaio Real
      %li
        %strong Contos Brasileiros II
        %br
        A menina enterrada viva e Couro de piolho

  #contosnatalinos.espetaculo
    %h2 Contos Natalinos
    %p No final do ano os contos natalinos são valiosos presentes para as crianças. Nessas histórias podemos resgatar o sentido e a magia do natal.

    %h2 Narrações
    %ul
      %li
        %strong Graças ao menino
      %li
        %strong O verdadeiro presente
      %li
        %strong As estátuas de gizo
      %li
        %strong O Pinheirinho

  #contosdanatureza.espetaculo
    %h2 Contos da natureza
    %p Estes contos propõe o despertar de nossa consciência para a construção de um mundo mais sutentável e consequentemente mais harmônico. 

    %h2 Narrações
    %ul
      %li
        %strong Contos da Natureza 
        %br
        O pássaro falante, A árvore de Amrita e O pote vazio.

  #contosindigenas.espetaculo
    %h2 Contos indígenas
    %p Os contos e lendas indígenas contam histórias sobre o nosso povo, neles podemos reconhecer as raizes de nossos costumes e tradições. 

    %h2 Narrações
    %ul
      %li
        %strong Contos indígenas
        %br
        A lenda do sol e da lua, A pela da mulher velha e o Veado e a onça

  #contosdesabedoria.espetaculo
    %h2 Contos de sabedoria
    %p Essas histórias nos trazem preciosos ensinamentos de personagens repletos de vida.  Ao ouvi-las guardamos em nosso inconsciente a força destes ensinamentos.

    %h2 Narrações
    %ul
      %li
        %strong Contos de sabedoria
        %br
        As quatro estações, A linha da tempo e A moça inteligente.

  #contosdeterror.espetaculo
    %h2 Contos de terror
    %p As crianças adoram as histórias de terror. Através destes contos elas reconhecem em si sentimentos como o medo e a raiva e de forma lúdica começam a lidar com eles.

    %h2 Narrações
    %ul
      %li
        %strong Contos de terros
        %br
        A cabeça voadora, O pássaro da feiticeira e A cabeça falante.

%script{:type => 'text/javascript'}
  $("#espetaculos li a").each(function() {$(this).fancybox();});

