#album
  %a{:rel => "example_group", :href => "/images/fotos/BOA3.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/BOA3.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN1139.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN1139.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN1430.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN1430.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN1916.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN1916.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN1923.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN1923.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN1927.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN1927.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2130.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2130.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2170.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2170.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2181.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2181.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2280.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2280.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2350.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2350.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2401.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2401.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2466.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2466.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2482.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2482.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2575.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2575.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2577.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2577.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2608.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2608.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN2843.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN2843.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN4105.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN4105.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN4116.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN4116.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN4130.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN4130.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN4375.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN4375.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN4405.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN4405.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/DSCN4427.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/DSCN4427.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/boa2.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/boa2.JPG"}
  %a{:rel => "example_group", :href => "/images/fotos/projeto.JPG"}
    %img{:alt => "", :src => "/images/fotos/s/projeto.JPG"}

:javascript
  $("a[rel=example_group]").fancybox({
    'transitionIn'  : 'elastic',
    'opacity'       : true,
    'overlayShow'   : false,
    'transitionOut' : 'none',
  });
