%p O Grupo "Três Marias e Um João" foi formado em 2009 por atores e arte educadores que juntaram seus anseios artísticos e educacionais e descobriram, na milenar arte de contar histórias, um universo de possibilidades. Desde então, o grupo realiza apresentações em diversas escolas, bibliotecas, livrarias, parques, eventos e centros culturais.

%p Foi contemplado pelo “Programa VAI 2010” da Secretaria Municipal de Cultura de São Paulo apresentando o projeto em unidades do CEU. Participou do VI Festival “A Arte de Contar Histórias” da cidade de São Paulo e foi aprovado, ainda, em outros editais de fomento a arte.

%center
  %img{:src => '/images/fotos/6.png', :style => 'width: 400px; margin-top: -13px'}
