%h2 Quem nunca ouviu uma história?

%p
  O grupo "Três Marias e Um João" traz a contação de histórias, através de apresentações artísticas que mesclam narração com música, dança e teatro.
  %br
  Além de ser um momento de alegria e prazer, a arte de contar histórias estimula a criatividade e proporciona incentivo à leitura, entretenimento e cultura.

%center
  %img{:src => '/images/fotos/7.png', :style => 'width: 400px'}
