%html
  %head
    %title Três Marias e um João
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %link{:rel => 'icon', :href => '/images/favicon.ico', :type => 'image/x-icon'}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/js/fancybox/jquery.fancybox-1.3.4.css", :media => "screen"}
    %link{:rel => "stylesheet", :href => "/css/blueprint/screen.css", :type => "text/css", :media => "screen, projection"}
    %link{:rel => "stylesheet", :href => "/css/blueprint/print.css", :type => "text/css", :media => "print"}
    /[if IE]
      %link{:rel => "stylesheet", :href => "/css/blueprint/ie.css", :type => "text/css", :media => "screen, projection"}
    %link{:rel => 'stylesheet', :href => '/css/layout.css', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '/js/layout.js'}
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/fancybox/jquery.fancybox-1.3.4.pack.js'}

  %body
    #container.container
      #header.header.span-24
        %img{:src => '/images/header.png'}
      #menu.span-8
        %h1
          %a{:href => '/'}
            %img{:src => '/images/menu/home.png', :title => 'Três Marias e um João'}

        %ul.menu
          %li
            %a{:href => '/grupo'}
              %img{:src => '/images/menu/grupo.png', :title => 'O grupo'}
          %li
            %a{:href => '/espetaculos'}
              %img{:src => '/images/menu/espetaculos.png', :title => 'Espetáculos'}
          %li
            %a{:href => '/integrantes'}
              %img{:src => '/images/menu/integrantes.png', :title => 'Integrantes'}
          -#%li
            %a{:href => '/agenda'}
              %img{:src => '/images/menu/agenda.png', :title => 'Agenda'}
          %li
            %a{:href => '/fotos'}
              %img{:src => '/images/menu/fotos.png', :title => 'Fotos'}
          -#%li
            %a{:href => '/trabalhos'}
              %img{:src => '/images/menu/trabalhos.png', :title => 'Trabalhos'}
          %li
            %a{:href => '/clipping'}
              %img{:src => '/images/menu/clipping.png', :title => 'Clipping'}
          %li
            %a{:href => '#contato'}
              %img{:src => '/images/menu/contato.png', :title => 'Contato'}
          %li.fb
            %div{:id => "fb-root"}
            :javascript
              (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            %div{:class => "fb-like", :data => {:href => "http://tresmariaseumjoao.com.br/", :send => "false", :layout => "standart", :width => "160", :colorscheme => "light", :show => {:faces => "true"}}}

        -#%img#rand_object{:src => @rand_object}

      #content.span-15
        .wrapper.span-13.push-1
          = yield

      -#%div.norender
        #intro
          %center
            %img{:src => '/images/intro.jpg'}

      %div.norender
        #contato
          %h2 Produção e Vendas

          %p Bruno - (11) 77129282
          %p Larissa - (11) 65535551

          %a{:mailto => "contato@tresmariaseumjoao.com.br"} contato@tresmariaseumjoao.com.br

          %h2 Acompanhe o grupo
          %p
            %a{:href=> "http://facebook.com/grupotresmariaseumjoao"} Facebook
          %p
            %a{:href => "http://www.flickr.com/photos/tresmariaseumjoao"} Flicker

          %p.sign Design by Leandro Teichimann & Dárida Mirella


    :javascript
      $("#menu a[href=#contato]").fancybox();
