@import url("http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo");

body {
  background: #EAD5BB url("/images/background2.jpg") repeat 0 0;
  font-family: 'Swanky and Moo Moo', serif;
  font-size: 110%;
}

p {
  margin: 0 0 0.5em;
}

a {
  color: purple;
}

#header{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

#container {
  position:absolute;
  outline: none;
  height:600px; 
  margin:-300px 0px 0px -475px;
  top: 50%; 
  left: 50%;
  padding: 0px;
  border: 0px solid #fff;
  overflow: hidden;
  background: #EAD5BB url("/images/background.jpg") repeat 0 0;
}

#content {
  height: 510px;
  padding: 90px 0px 0px 0px;
  background: url("/images/background_content.jpg") no-repeat center;
}

#content .wrapper{
  height: 500px;
  overflow: overlay;
}

#menu{
  height: 600px;
  background: url("/images/background_menu.png") no-repeat 0 0;
}

#menu ul {
  margin-top: -20px;
  z-index: 9;
}

#menu ul li {
  list-style: none;
  margin-top:-10px;
}

#menu ul li.fb {
  margin-top: 10px;
  padding: 10px;
}

#menu .connect_widget_connected_text{
  color: #FFF;
}

#menu ul li a {
  color: #FFF;
  text-decoration: none;
}

#rand_object {
  position: absolute;
  float: left;
  left: 220px;
  top: 30px;
}

.norender, .hidden {
  display: none;
}

h2, h3, h4 {
  text-align: center;
}

ul#integrantes li {
  list-style: none;
}

ul#integrantes li a {
  text-decoration: none;
}

div.espetaculo,
div.integrante {
  padding: 10px;
  background: #EAD5BB url("/images/background.jpg") repeat 0 0;
  width: 800px;
}
 
#embreve{
  margin-left: 200px;
}

#espetaculos ul, #embreve ul{
  margin-left: 50px;
  list-style-type: circle;
}

#espetaculos ul p, #embreve ul p{
  margin: 0;
  padding: 0;
}

#espetaculos ul p{
  font-weight: bold; 
}

#album a, #clipping a {
  text-decoration: none;
}

#album a img, #clipping a img{
  width: 115px;
}

ul.trabalhos {
  margin-left: 50px;
  list-style-type: circle;
}

#contato {
  width: 500px;
  height: 300px;
  background: url("/images/background_contact.jpg") repeat 0 0;
  padding: 50px;
}

#contato h2 {
  text-align : left;
  margin-bottom: 0.15em
}

#contato p.sign {
  top: 15px;
  float : right;
  position : relative;
}

div.face {
  width: 60px;
  height: 60px; 
  position: absolute; 
  z-index: 110;
}

div.face_hover {
  border: 2px solid white;
}

div.integrante img {
  width: 300px;
  margin: 10px;
  float: left;
}

div.integrante hr {
  display: block;
  visibility: none;
  clear: both;
}
