#sitebox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 101;
	outline: none;
        width: 1000px;
        height: auto;
}

#sitebox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#sitebox-content {
        width: 1000px;
        height: 600px;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 102;
	border: 0px solid #fff;
        background: #EAD5BB url("/images/background.jpg") repeat 0 0;
}

.sitebox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 101;
}

#sitebox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('/images/sitebox-x.png');
}

#sitebox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('/images/sitebox.png');
	background-position: -40px -162px;
}

#sitebox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('/images/sitebox-y.png');
	background-position: -20px 0px;
}

#sitebox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('/images/sitebox.png');
	background-position: -40px -182px; 
}

#sitebox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('/images/sitebox-x.png');
	background-position: 0px -20px;
}

#sitebox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('/images/sitebox.png');
	background-position: -40px -142px;
}

#sitebox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('/images/sitebox-y.png');
}

#sitebox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('/images/sitebox.png');
	background-position: -40px -122px;
}
